.txtTitle {
  font-family: Rimma_sans;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}
.txtTitles {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Четыре равных столбца */
  gap: 10px; /* Отступы между ячейками */
  text-align: left;
  margin-top: 80px;
}
/* .txtTitle_1 {
  margin-left: 30px;
}
.txtTitle_2 {
  margin-left: 88px;
}
.txtTitle_3 {
  margin-left: 302px;
}
.txtTitle_4 {
  margin-left: 288px;
  margin-right: 23px;
} */

.tourAccordions{
    margin-top: 65px;
}
.tourAccardionItem {
  display: grid;
  grid-template-columns: repeat(4, 2fr); /* Четыре равных столбца */
  gap: 10px; /* Отступы между ячейками */
  text-align: left; /* Текст по центру ячеек */
  margin-top: 45px; 
}
.txtTitle {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
